body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: "Anton", sans-serif;
    justify-content: center;
    align-items: center;
  }
  
  .night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
  }
  
  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
  }
  .shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      #5f91ff,
      rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
  }
  .shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      #5f91ff,
      rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
  .shooting_star:nth-child(1) {
    top: calc(50% - -149px);
    left: calc(50% - 286px);
    -webkit-animation-delay: 9871ms;
    animation-delay: 9871ms;
  }
  .shooting_star:nth-child(1)::before,
  .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 9871ms;
    animation-delay: 9871ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(50% - 197px);
    left: calc(50% - 33px);
    -webkit-animation-delay: 9633ms;
    animation-delay: 9633ms;
  }
  .shooting_star:nth-child(2)::before,
  .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 9633ms;
    animation-delay: 9633ms;
  }
  .shooting_star:nth-child(3) {
    top: calc(50% - -126px);
    left: calc(50% - 44px);
    -webkit-animation-delay: 1100ms;
    animation-delay: 1100ms;
  }
  .shooting_star:nth-child(3)::before,
  .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 1100ms;
    animation-delay: 1100ms;
  }
  .shooting_star:nth-child(4) {
    top: calc(50% - 120px);
    left: calc(50% - 206px);
    -webkit-animation-delay: 491ms;
    animation-delay: 491ms;
  }
  .shooting_star:nth-child(4)::before,
  .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 491ms;
    animation-delay: 491ms;
  }
  .shooting_star:nth-child(5) {
    top: calc(50% - -51px);
    left: calc(50% - 139px);
    -webkit-animation-delay: 3383ms;
    animation-delay: 3383ms;
  }
  .shooting_star:nth-child(5)::before,
  .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 3383ms;
    animation-delay: 3383ms;
  }
  .shooting_star:nth-child(6) {
    top: calc(50% - -163px);
    left: calc(50% - 105px);
    -webkit-animation-delay: 4467ms;
    animation-delay: 4467ms;
  }
  .shooting_star:nth-child(6)::before,
  .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 4467ms;
    animation-delay: 4467ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(50% - 90px);
    left: calc(50% - 284px);
    -webkit-animation-delay: 5832ms;
    animation-delay: 5832ms;
  }
  .shooting_star:nth-child(7)::before,
  .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 5832ms;
    animation-delay: 5832ms;
  }
  .shooting_star:nth-child(8) {
    top: calc(50% - -102px);
    left: calc(50% - 295px);
    -webkit-animation-delay: 9046ms;
    animation-delay: 9046ms;
  }
  .shooting_star:nth-child(8)::before,
  .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 9046ms;
    animation-delay: 9046ms;
  }
  .shooting_star:nth-child(9) {
    top: calc(50% - 184px);
    left: calc(50% - 121px);
    -webkit-animation-delay: 513ms;
    animation-delay: 513ms;
  }
  .shooting_star:nth-child(9)::before,
  .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 513ms;
    animation-delay: 513ms;
  }
  .shooting_star:nth-child(10) {
    top: calc(50% - 133px);
    left: calc(50% - 26px);
    -webkit-animation-delay: 7534ms;
    animation-delay: 7534ms;
  }
  .shooting_star:nth-child(10)::before,
  .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 7534ms;
    animation-delay: 7534ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(50% - -74px);
    left: calc(50% - 242px);
    -webkit-animation-delay: 5191ms;
    animation-delay: 5191ms;
  }
  .shooting_star:nth-child(11)::before,
  .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 5191ms;
    animation-delay: 5191ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(50% - -44px);
    left: calc(50% - 35px);
    -webkit-animation-delay: 3530ms;
    animation-delay: 3530ms;
  }
  .shooting_star:nth-child(12)::before,
  .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 3530ms;
    animation-delay: 3530ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(50% - 173px);
    left: calc(50% - 59px);
    -webkit-animation-delay: 4041ms;
    animation-delay: 4041ms;
  }
  .shooting_star:nth-child(13)::before,
  .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 4041ms;
    animation-delay: 4041ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(50% - -118px);
    left: calc(50% - 245px);
    -webkit-animation-delay: 7443ms;
    animation-delay: 7443ms;
  }
  .shooting_star:nth-child(14)::before,
  .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 7443ms;
    animation-delay: 7443ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(50% - 168px);
    left: calc(50% - 22px);
    -webkit-animation-delay: 159ms;
    animation-delay: 159ms;
  }
  .shooting_star:nth-child(15)::before,
  .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 159ms;
    animation-delay: 159ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(50% - 61px);
    left: calc(50% - 170px);
    -webkit-animation-delay: 9359ms;
    animation-delay: 9359ms;
  }
  .shooting_star:nth-child(16)::before,
  .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 9359ms;
    animation-delay: 9359ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(50% - -55px);
    left: calc(50% - 58px);
    -webkit-animation-delay: 7741ms;
    animation-delay: 7741ms;
  }
  .shooting_star:nth-child(17)::before,
  .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 7741ms;
    animation-delay: 7741ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(50% - -19px);
    left: calc(50% - 201px);
    -webkit-animation-delay: 7834ms;
    animation-delay: 7834ms;
  }
  .shooting_star:nth-child(18)::before,
  .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 7834ms;
    animation-delay: 7834ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(50% - -124px);
    left: calc(50% - 115px);
    -webkit-animation-delay: 8908ms;
    animation-delay: 8908ms;
  }
  .shooting_star:nth-child(19)::before,
  .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 8908ms;
    animation-delay: 8908ms;
  }
  .shooting_star:nth-child(20) {
    top: calc(50% - -106px);
    left: calc(50% - 171px);
    -webkit-animation-delay: 3898ms;
    animation-delay: 3898ms;
  }
  .shooting_star:nth-child(20)::before,
  .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 3898ms;
    animation-delay: 3898ms;
  }
  
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  body {
    background-color: #9cb2ef;
}

.letter-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.animated-mail {
    position: absolute;
    height: 150px;
    width: 200px;
    transition: 0.4s;
}

.body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
}

.top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #d3443c transparent transparent transparent;
    z-index: 2;
}

.back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background-color: #cf4a43;
    z-index: 0;
}

.left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
}

.letter {
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 160px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    overflow: hidden;
    transition: 0.4s 0.2s;
}

.letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(
        -45deg,
        #94c0ec,
        #54b3ef 8px,
        transparent 8px,
        transparent 18px
    );
}

.letter-content {
    position: relative;
    height: 160px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: none; /* Hidden initially */
}

.letter-text {
    position: relative;
    color: #4edfef;
    font-size: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
}
.letter-title, .letter-context {
    margin-left: 5px;
    height: 10px;
    background-color: #d7999b;
}
.below-letter-image {
    display: block; /* Ensure it behaves as a block element */
    margin: 5px auto; /* Center the image and add space above/below */
    width: 80%; /* Adjust as needed */
    max-width: 160px; /* Limit the maximum width */
}


.letter-title {
    margin-top: 10px;
    width: 40%;
}

.letter-context {
    margin-top: 10px;
    width: 20%;
}

.letter-stamp {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #cb5a5e;
    opacity: 0.3;
}

.shadow {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    height: 30px;
    transition: 0.4s;
    transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

.letter-image:hover .animated-mail {
    transform: translateY(50px);
}

.letter-image:hover .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    z-index: 0;
}

.letter-image:hover .letter {
    height: 220px;
}

.letter-image:hover .letter-content {
    display: block; /* Show the text when envelope opens */
}

.letter-image:hover .shadow {
    width: 250px;
}